$font-family-base: 'Inter', sans-serif;

// Contrast ratio
$min-contrast-ratio: 3;

// Border
$border-radius: 4px;

// Form Control
$form-floating-label-opacity:2;
$input-border-width: 2px;
$input-focus-box-shadow: none;
$form-floating-input-padding-t:0px;
$form-floating-input-padding-b:0px;
$form-floating-padding-y:0px;
$form-floating-padding-x:0px;
$input-padding:10px 15px 10px 40px;

$form-floating-label-transform:   scale(0.85) translateY(20px) translateX(40px) ;
 

// navbar

// End: navbar
