<!-- Landing Page -->

<!-- Landing-page-body -->
<div class="landing-page-wrapper d-flex flex-column align-items-center justify-content-center m-2 m-sm-0">
    <div class="landing-page-content d-flex flex-column ">
        <figure>
            <img src="../assets/images/landing-page.png" alt="landing-page">
        </figure>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        <button type="button" class="button p-2 mx-2 p-sm-auto">BOOK YOUR SEAT NOW</button>
    </div>
</div>
<!-- End: Landing-page-body -->

<!-- End: Landing Page -->