// registration  form
.registration-wrapper {
    background-color: rgb(0, 0, 0);
    border-radius: 0.3rem;
    max-width: 450px;
    padding: 0 48px 60px 48px;

    .brand-wrapper {
        padding: 48px 32px;

        .brand-title {
            color: $secondary-grey;
        }
    }

    @include media-breakpoint-down(sm) {
        max-width: 100%;
        border-radius: 0;
    }
}

.main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.58)), url("../../images/Splash_DRC.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 32px 0px;
    overflow: auto;
}